@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
* {
  font-family: "Acme";
}

body.dark {
  --bg-color: #1c1c1c;
  --text-color: #ededed;
}

body.light {
  --bg-color: #ededed;
  --text-color: #1c1c1c;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Acme";
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

h1 {
  font-size: 64px;
  margin: 8px 0;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.links-section {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin: 12px 12px 0;
}

.links {
  flex: 1;
  background: white;
  color: #252525;
  padding: 12px 60px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.html {
  color: #ffffff;
  background-color: #e34c26;
}
.css {
  color: #ffffff;
  background-color: #264de4;
}
.js {
  color: #323330;
  background-color: #f0db4f;
}

@media (max-width: 380px) {
  h1 {
    font-size: 42px;
  }
}
